body {
  margin: 0;
  display: flex;
  font-family: "Gill Sans";
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
#instructions {
  padding: 10px;
  color: rgb(243, 131, 40);
  border-radius: 12px;
  background-color: #000000;
  max-width: 500px;
}

#game-frame {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  height: 1080px;
  background: #303030;
  border-radius: 12px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(172, 160, 160);
  border-radius: 12px;
}

#h1 {
  background-color: #1e1e1e;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  border-radius: 12px;
  font-size: 50px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
}

.info {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  gap: 20px;
}

#duration-box {
  margin-right: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #414040;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

#start-btn {
  margin-right: 10px;
  color: rgb(33, 131, 14);
  background-color: #635f5f;
  padding: 10px;
  border-radius: 10px;
}

#reset-btn {
  color: rgb(238, 214, 0);
  background-color: #63625f;
  padding: 10px;
  border-radius: 10px;
}

canvas {
  background-color: #635f5f;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: crosshair;
}
