body {
  margin: 0;
  display: flex;
  font-family: "Courier New";
  background-color: #161616;
  justify-content: center;
  align-items: center;
}

#instructions {
  padding: 10px;
  color: rgb(243, 131, 40);
  border-radius: 12px;
  background-color: #000000;
  max-width: 500px;
}

#game-frame {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  height: 1100px;
  background: #303030;
  border-radius: 12px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(93, 139, 8);
  background-color: #252525;
}

h1 {
  font-size: 50px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.info {
  font-size: 20px;
  padding: 30px;
  border-radius: 12px;
}

.info span + span {
  margin-left: 3em;
}

#duration-box {
  margin-right: 40px;
  margin-left: 30px;
  padding: 15px;
  background-color: #414040;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

#start-btn, #reset-btn {
  padding: 10px;
  border-radius: 10px;
}

#start-btn {
  color: rgb(33, 131, 14);
  background-color: #635f5f;
}

#reset-btn {
  color: rgb(238, 214, 0);
  background-color: #63625f;
}

canvas {
  background-color: #635f5f;
  border-radius: 50px;
  cursor: crosshair;
}
